*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.navbar {
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background-color:black;
    height : 50px;
    width: 100%;
inset: 1;
}
.logo {
    width: 100px;
    height: auto;
}
.navbar-links{
    display: flex;
    padding: 10px;
    gap: 20px;
    align-items: center;
    text-decoration: none;
justify-content: center;
margin-right: 40%;
text-transform: uppercase;
}
a {
    text-decoration: none;
    color: white;
    font-size: 13px;
}