* {
    margin: 0;

    padding: 0;
    box-sizing: border-box;
}

.container {
 display: block;
    background-color: black;
    padding: 60px 20px;
height: 100%;
width: 100%;
}

.interior-description {
    font-size: 38px;
    text-transform: uppercase;
    margin-left: 40px;
    text-align: left;
    letter-spacing: 3px;
    margin-bottom: 30px;
    color: #ffffff;
}

.interior-image1 {
    display: block;
    width: 90%;
    height: 550px;
    object-fit: cover;
    border-radius: 10px; 
    transition: transform 0.3s ease;
    margin: 0 auto 20px auto;
}

.interior-image1:hover {
    transform: scale(1.05);
}

.interior-image2 {
    display: inline-block;
    width: 44%;
    height: 350px;
    object-fit: cover;
    border-radius: 10px;
    transition: transform 0.3s ease;
    margin-left: 2%;
    margin-right: 2%;
}

.interior-image2:hover {
    transform: scale(1.05);
}

.interior-image3 {
    display: inline-block;
    width: 44%;
    height: 350px;
    object-fit: cover;
    border-radius: 10px;
    transition: transform 0.3s ease;
}

.interior-image3:hover {
    transform: scale(1.05);
}